body {
  padding: 10px;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #BBCAE8;
  
}

#monInput{
  color:#FFD500;
}

#titreP{
  color:#FFD500;
  font-size:100px;
}

#iconesTitre{
  max-width: 400px;
  margin: auto;
}

.gallery{
  margin: 10px;
  float: left;
  width: 180px;
  background-color: #FFD500;
  border-radius: 180px;
  height:180px;
}

.gallery:active{
  background-color: lightgreen;
}

.gallery:target{
  background-color: lightgreen;
}

.desc {
  padding: 10px;
  text-align: center;
}

#drinkicone{
  font-size: 80px;
  padding-left: 62.5px;
  padding-top: 20px;
}

#musicicone{
  font-size: 80px;
  padding-left: 55px;
  padding-top: 20px;
}

#gamesicone{
  font-size: 80px;
  padding-left: 55px;
  padding-top: 20px;
}

#studyicone{
  font-size: 80px;
  padding-left: 47px;
  padding-top: 20px;
}

#sporticone{
  font-size: 80px;
  padding-left: 50px;
  padding-top: 20px;
}

#walkicone{
  font-size: 80px;
  padding-left: 55px;
  padding-top: 20px;
}