body {
  padding: 10px;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #BBCAE8; 
}

#iconesTitre{
  max-width: 400px;
  margin: auto;
}

.gallery{
  margin: 10px;
  float: left;
  width: 180px;
  background-color: #FFD500;
  border-radius: 180px;
  height:180px;
}

.desc {
  padding: 10px;
  text-align: center;
}

#drinkicone{
  font-size: 80px;
  padding-left: 62.5px;
  padding-top: 20px;
}

#musicicone{
  font-size: 80px;
  padding-left: 55px;
  padding-top: 20px;
}

#gamesicone{
  font-size: 80px;
  padding-left: 55px;
  padding-top: 20px;
}

#studyicone{
  font-size: 80px;
  padding-left: 47px;
  padding-top: 20px;
}

#sporticone{
  font-size: 80px;
  padding-left: 50px;
  padding-top: 20px;
}

#walkicone{
  font-size: 80px;
  padding-left: 55px;
  padding-top: 20px;
}

#mouton2{
transform:rotate(180deg);
position: absolute;
top:0px;
margin-left:300px;
}

#mouton1{
position: absolute;
height: 190px;
left: -50px;
top: 500px;
-moz-transform: scaleX(-1);
-o-transform: scaleX(-1);
-webkit-transform: scaleX(-1);
transform: scaleX(-1);
filter: FlipH;
-ms-filter: "FlipH";
}

#reg{
  margin-top:560px;
  margin-left:130px;
}

#log{
  margin-top:30px;
  margin-left:130px;
}

#logo{
  position:absolute;
  top:300px;
}

#filtrer{
  width: 60px;
  background-color: #FFD500;
  border-radius: 60px;
  height:50px;
  top:500px;
  margin-left:300px;
}


#flasher{
  position:absolute;
  font-size: 50px;
  margin: 50px;
  float: left;
  width: 95px;
  background-color: #FFD500;
  opacity: 0.7;
  border-radius: 105px;
  height:95px;
  padding-bottom: 50px;
  text-align: center center;
}
h1{
  font-family: Arial, Helvetica, sans-serif, italic;
  color: #FFD500;
  border: hidden, black;
  border-width: 30px;
  
}


#typeActivite{
  margin: 10px;
  float: left;
  width: 40px;
  background-color: #FFD500;
  border-radius: 180px;
  height: 40px;
}

#activite{
position: absolute;
border-radius: 10px;
width: 265px;
height: 33.97px;
background-color: #EDF3F6;
}
#date{
  position: absolute;
  border-radius: 10px;
  width: 150px;
  height: 33.97px;
  background-color: #EDF3F6; 
}

#heure{
position: absolute;
border-radius: 10px;
width: 100px;
height: 33.97px;
background-color: #EDF3F6;
}

#nbrPers{
  position: absolute;
  border-radius: 10px;
  width: 265px;
  height: 33.97px;
  background-color: #EDF3F6; 
}

#parEquipe{
  position: absolute;
  border-radius: 10px;
  width: 265px;
  height: 33.97px;
  background-color: #EDF3F6; 
}

#infoSupp{
  position: absolute;
  border-radius: 10px;
  background-color: #EDF3F6; 
}

#lieu{
  position: absolute;
  border-radius: 10px;
  width: 280px;
  height: 70px;
  background-color: #EDF3F6;
}