body {
  padding: 10px;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #BBCAE8;
  
}

#monInput{
  color:#FFD500;
}


#iconesTitre{
  max-width: 400px;
  margin: auto;
}

.gallery{
  margin: 10px;
  float: left;
  width: 180px;
  background-color: #FFD500;
  border-radius: 180px;
  height:180px;
}

.gallery:active{
  background-color: lightgreen;
}

.gallery:target{
  background-color: lightgreen;
}

.desc {
  padding: 10px;
  text-align: center;
}

#drinkicone{
  font-size: 80px;
  padding-left: 62.5px;
  padding-top: 20px;
}

#musicicone{
  font-size: 80px;
  padding-left: 55px;
  padding-top: 20px;
}

#gamesicone{
  font-size: 80px;
  padding-left: 55px;
  padding-top: 20px;
}

#studyicone{
  font-size: 80px;
  padding-left: 47px;
  padding-top: 20px;
}

#sporticone{
  font-size: 80px;
  padding-left: 50px;
  padding-top: 20px;
}

#walkicone{
  font-size: 80px;
  padding-left: 55px;
  padding-top: 20px;
}

#mouton2{
transform:rotate(180deg);
position: absolute;
top:0px;
margin-left:300px;
}

#mouton1{
position: absolute;
height: 190px;
left: -50px;
top: 500px;
-moz-transform: scaleX(-1);
-o-transform: scaleX(-1);
-webkit-transform: scaleX(-1);
transform: scaleX(-1);
filter: FlipH;
-ms-filter: "FlipH";
}

#reg{
  margin-top:560px;
  margin-left:130px;
}

#log{
  margin-top:30px;
  margin-left:130px;
}

#logo{
  position:absolute;
  top:500px;
  margin-left:300px;
}


#flasher{
  position:absolute;
  font-size: 80px;
  padding-left: 55px;
  padding-top: 20px;
}