<template name="uploadForm">
        
    <div class="container">
            {{>appPhoto}}
            {{>retour}}
            
        {{#with currentUpload}}
        Uploading <b>{{file.name}}</b>:
        <span id="progress">{{progress.get}}%</span>
    {{else}}
    <div class="custom-file">
        <input id="customFile" type="file"  />
        
    </div>
        
    {{/with}}
    <img class="img-fluid img-thumbnail" src="{{imageFile.link}}" alt="img">
  
    </div> 
    
</template>

<template name="appPhoto">
    <button id="pic" class="btn btn-primary">pic</button>
</template>

<template name="retour">
    <button id="retour">Retour</button>
</template>