<body>
        {{#if currentUser}}
        {{>logout}}
        {{else}}
         {{>register}}
         {{>login}}
        {{/if}}
</body>

<template name="register">

<form id="reg">
    <input type="text" id="email" placeholder="prenom.nom@unil.ch">
    <input type="password" id="password">
    <input type="submit" value="S'enregistrer"> 
</form>

</template>
    
<template name="login">

        <form id="log">
            <input type="text" id="login-email" placeholder="prenom.nom@unil.ch">
            <input type="password" id="login-password">
            <input type="submit" value="Login"> 
        </form>
        
</template>

<template name="logout">
<p>Bienvenu/e sur FlashUnil</p>
<p><a href="#" class="Logout">Logout</a></p>

</template>
