<template name="uploadForm">
        
    <div class="container">
            {{>appPhoto}}
            {{>retour}}
            
        {{#with currentUpload}}
        Uploading <b>{{file.name}}</b>:
        <span id="progress">{{progress.get}}%</span>
    {{else}}
    <div class="custom-file">
        <input id="customFile" type="file"  />
        
    </div>
        
    {{/with}}
    <img src="{{imageFile.link}}" alt="img">
   <!--{{> Template.Dynamic template=main}}--> 
    </div> 
    
</template>

<template name="appPhoto">
    <a href="#" class="btn btn-primary">take photo</a>
    <img class="photo">
</template>

<template name="retour">
    <button id="retour">Retour</button>
</template>