<template name="formulaireFlash">
    <h1>{{Création Flash Formulaire}}</h1>

    <form>
        <!--ajouter les pastilles activité avec (séléctionner le types d'activité-->
        <input type="text" id="Activité"><br>
        <input type="date" /><br> <!--ajouter date du jour ou max 48h avant-->
        <input type="number" id="Heure"><br>
        <input type="number" id="Nombre de personnes"><br>
        <input type="text" id="Par équipe"><br>
        <input type="text" id="infos en plus"><br>
        <input type="text" value="Lieu"> <br>
        <!--ajouter une carte maps interactive-->
        <button> onclick=""</button>
    </form>
</template>