<template name="formulaireFlash">
    <h1>{{Création Flash Formulaire}}</h1>

<form>
    <!--ajouter les pastilles activité avec (séléctionner le types d'activité-->
    <h3>Activité</h3>
    <input type="text" id="Activite"><br>
    <br>
    <input type="date" /><br> ajouter date du jour ou max 48h avant
    <br>
    <h3>Heure</h3>
    <input type="time" id="Heure"><br>
    <br>
    <h3>Nombre de personnes</h3>
    <input type="number" id="Nombre de personnes"><br>
    <br>
    <h3>Par équipe</h3>
    <input type="checkbox" name="par équipe" value="valeur attachée au bouton">
    <input type="number" id="Par équipe"><br>
    <br>
    <h3>Information supplémentaires</h3>
    <input type="text" id="infos en plus"><br>
    <br>
    <h3>Lieu</h3>
    <input type="text" id="Lieu"> <br>
    <br>
    <button id="flasher" onclick="fonctionFlasher()"><img src="./images/flash.png "></img></button>

    <!--ajouter une carte maps interactive-->
    
    <!--<button value="flasher" onclick="fonctionFlasher();"><img  alt="" /></button>/<input type="image" name="flasher" value="flasher" src="image/monimg.gif"> possibilité de boutton image?-->
</form>
</template>

<!--src="./images/flash.png"-->