<template name="formulaireFlash">
        <head>
                <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
            </head>
    <h1>Formulaire Flashiste</h1>

    <form class="js-formulaire-flash" required>
        
        
        <br><br>
        <button  class ="fas fa-guitar choix" id="music" value="music"></button>
        <button  class ="fas fa-chess choix"  id="games" value="games"></button>
        <button  class ="fas fa-beer choix"  id="drink" value="drink"></button>
        <button  class ="fas fa-book-open choix"  id="study" value="study"></button>
        <button  class ="fas fa-futbol choix"  id="sport" value="sport"></button>
        <button  class ="fas fa-hiking choix"  id="walk" value="walk"></button>
        <br>
        <label for="IdtypeActivite">Sélectionne le type d'activité</label>
        <br><br>
        <h4>Activité</h4>
        <input type="text" id="activite" value="" required>
        <br><br>
        <h4>Date</h4>
        <input type="date" id="date" min="{{dateNow}}" max="{{dateMax}}" value="date" required><br> <!--ajouter date du jour ou max 48h avant-->
        <br>
        <h4>Heure</h4>
        <input type="time" id="heure" value="time"><br>
        <br>
        <h4>Nombre de personnes</h4>
        <input type="number" id="nbrPers" min="0" value="number">
        <br><br>
        <input type="checkbox" name="case" value="valeur attachée au bouton">
        <label for="IdCheckBox">Par équipe</label> 
        <br>
        <br>
        <h4>Information supplémentaires</h4>
        <textarea name="infoSupp" id="infoSupp" cols="30" rows="7"></textarea>
        <br><br>
        <br><br>
        <br><br>
        <br><br>
        <br>
        <h4>Lieu</h4>
        <textarea name="lieu" id="lieu" cols="30" rows="7" required></textarea>
        <br><br>
        <br><br>
        <button  type="submit" id="flasher"><img src="./images/flash.png " height="90" width="90"></button>

        <!--ajouter une carte maps interactive-->
        
    </form>
</template>
