<template name="pageAccueil">
    {{> navbar}}
    <div class="text-center"><img src="./images/UniFlash_logo.png" width="600px;" class="rounded col-xs-12,col-lg-8" id="logo"></div>
</template>

<template name="navbar">

    <nav class="navbar navbar-light bg-light">
        <div class="container">
            {{#unless loggingIn}}
    
            {{#if currentUser}}
            <span class="navbar-text mr-2">
                {{currentUser.profile.fullname}}
            </span>
            <button class="btn btn-outline-secondary js-logout" style="background-color:rgba(255, 213, 0, 0.76);">Déconnexion</button>
            {{else}}
            <button class="bt bt-success js-open-login-modal" style="background-color: rgba(255, 213, 0, 0.76);">Entre dans le monde d'UniFlash</button>
            {{/if}}
    
            {{/unless}}
           
        </div>
    </nav>
    
    </template>
    
    
    <template name="login_modal">
        <div class="modal fade">
            <div class="modal-dialog">
                <div class="modal-content">
    
                    {{> atForm}}
                
                </div>
            </div>
        </div>
    </template>