

<template  name="pagePrincipale">
    {{>lienCreationFlash}}
</template>

<template name = "lienCreationFlash">
    <button id="preferences">Préferences Filtres</button>
       <div class="container">
        <h1>Flashes</h1>
        <br><br>
        <h4>{{project.title}}</h4>
       <div class="container align-bottom align-middle">
           <button type="submit" id="flasher"><img src="./images/flash.png " height="90" width="90"></button>
       </div> 


    <button id="lienCF">Crée un flash</button>
    <h1>yo</h1></div> 
    {{#each imageFile.each}}
    <div class="container">
        <img class=" img-thumbnail img-responsive center-block w-50 align-middle" src="{{this.link}}" alt="img" >
    </div> 
    {{/each}}
</template>

