<template name="pageAccueil">
        <div class="align-mt-auto" style="text-align:left;margin-left:50px"><img src="./images/mouton_r.png" width="200px;"  alt="Responsive image" >
        </div>
    {{> navbar}}

    <div class="align-mt-auto text-center"><img src="./images/UniFlash_logo.png" width="600px;" alt="Responsive image"></div>

    <div class="align-mt-auto" style="text-align:right;margin-right:50px;"><img src="./images/mouton_1.png" width="200px;" alt="Responsive image"></div>
   
</template>

<template name="navbar">

    <nav>
        <div class="container">
   
            <button class="bt bt-success js-open-login-modal" style="background-color: rgba(255, 213, 0, 0.76);margin-left:90px;margin-top:30px;">Entre dans le monde d'UniFlash</button>      
           
        </div>
    </nav>
    
    </template>
    
    
    <template name="login_modal">
        <div class="modal fade">
            <div class="modal-dialog">
                <div class="modal-content">
                    {{> atForm}}
                </div>
            </div>
        </div>
    </template>