<template name="selectionFlash">
    <head>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    </head>
    <h1 id="iconesTitre">Tes types de flash</h1>
    <div class="colonnes">
    <div class="gallery" id="games">
        <i class="fas fa-chess" id="gamesicone"></i>
        <div class="desc">Si t'aimes les jeux</div>
   </div>
    <div class="gallery" id="music">
        <i class="fas fa-guitar" id="musicicone"></i>
        <div class="desc">Si t'aimes la musique</div>
    </div>
    <div class="gallery" id="drink">
        <i class="fas fa-beer" id="drinkicone"></i>
        <div class="desc">Si t'aimes parler derrière une bière</div>
    </div>
    <div class="gallery" id="study">
        <i class="fas fa-book-open" id="studyicone"></i>
        <div class="desc">Si t'aimes reviser en groupe</div>
    </div>
    <div class="gallery" id="sport">
        <i class="far fa-futbol" id="sporticone"></i>
        <div class="desc">Sport en groupe > Sport en solitaire</div>
    </div>
    <div class="gallery" id="walk">
        <i class="fas fa-hiking" id="walkicone"></i>
        <div class="desc">Si t'aimes te promenader</div>
    </div>
</div>
</template>
